@model List<HR_Sys.ViewModels.EmployeeAttendanceExcelViewModel>
@{
       

    
}


<section id="configuration">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title text-right">تقرير حضور وانصراف الموظفين </h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    
                    <div class="card-block card-dashboard">
                       
                         <form asp-controller="EmployeeAttendance" asp-action="Show" method="post" enctype="multipart/form-data">
                        
                             <div class="col-lg-12 d-flex" style="flex-direction:row-reverse">
                                 <input type="file" class="btn btn-success " id="fileupload" name="formFile" style="margin-right: 15px;width: 240px;" />
                                   
                                        <button type="submit" class="btn btn-success ">Upload</button>
                                    
                                          
                             </div>

                     </form>
                     
                      

                  
                         
                         </div>
                     
                        
                            @if(  Model != null){
                                if(Model.Count()>0){
                            


                            <table class="table table-striped table-bordered zero-configuration mt-40 text-right">
                            <thead>
                                <tr>
                                    <th>اسم</th>
                                    <th>القسم</th>
                                    <th>وقت الحضور</th>
                                    <th>وقت الانصراف</th>
                                    <th>التاريخ </th>

                              
                                </tr>
                            </thead>
                            <tbody>
                                
                                 
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                             <td> @(item.Employee ==null ?Html.Label("","صحيح id  لم يتم ادخال ",new {style="color:red"}) : item.Employee.empName)</td>
                                             <td>@(item.Employee ==null ? Html.Label(""," لا يوجد قسم ",new {style="color:red"}) : item.Employee.Department.deptName)</td>
                                             <td>@(item.attendanceTime==""? Html.Label(""," لم يتم ادخال  شئ هنا ",new {style="color:red"}) :item.attendanceTime)</td>
                               
                                             <td>@(item.departureTime==""? Html.Label("","لم يتم ادخال  شئ هنا",new {style="color:red"}) :item.departureTime)</td>
                                       
                                              <td>@(item.attendaceDay==""? Html.Label("","لم يتم ادخال  شئ هنا",new {style="color:red"}) :item.attendaceDay)</td>
                                        </tr>
                                    }
                                   
                                
                               
                                </tbody>
                                </table>
                                }}
                         </div>
                </div>
              
            </div>
        </div>
    </div>


@section Scripts
{
   <script type="text/javascript" >

       console.log("hi");
       $('#fileupload').change(function() {
      $('#hidden').val($(this).val());
});
    $('#fileupload').keyup(function(){
    $('#hidden').val($(this).val());
    });
    $('#fileupload').keyup(function(){
        $('#hidden').val($(this).val());
    });    
   </script> 
}
   
