@model List<EmployeeAttendance>;
@{
        ViewData["Title"] = "Attendance Report";

    
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Attendance Report</title>
</head>
<body>
<section id="configuration">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title text-right">تقرير حضور وانصراف الموظفين </h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                   
                    <div class="card-block card-dashboard">
                         <form asp-controller="EmployeeAttendance" asp-action="Show" method="post" enctype="multipart/form-data">
                        
                             <div class="col-lg-12 d-flex" style="flex-direction:row-reverse">
                                 <div class="row">
                                       
                                   <div classaction="col-6">
                                        <button  class="btn btn-success" type="submit">إظهار </button>

                                        <input type="file" onchange="processSelectedFiles(this)" class="form-control-file"  id="fileupload" name="formFile" style="margin-right: 15px;  padding: 0px 40px;" />
                                    </div>
                                </div>
                                <div class="row mt-5">
                                      <button type="button" class="btn btn-success" style="    height: 40px;">
                                           <a asp-controller="employeeAttendance" asp-action="index"> اضافة حضور موظف</a>
                                       </button>
                                 </div>

                             </div>

                
                     <label>@ViewBag.Error</label>
                            <div class="row"><div class="col-sm-12 col-md-3"><div class="dataTables_length" id="DataTables_Table_0_length"><label>عرض التاريخ
                            <input type="date" 
                                class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">    
                            </label></div></div>
                                      <div class="col-lg-1"></div> 
                                        <div class="col-sm-12 col-md-5"><div id="DataTables_Table_0_filter"
                                             class="dataTables_filter"><label>اسم الموظف<input type="search" 
                                class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label>
                                </div>
                                </div>
                               
                              
                            </div> 
                  
                         <input hidden name="pathFile" value="@ViewBag.Path" id="path"/>
                            @if(Model.Count()>0 ){
                                
                            


                            <table class="table table-striped table-bordered zero-configuration mt-40 text-right">
                            <thead>
                                <tr>
                                    <th>اسم</th>
                                    <th>القسم</th>
                                    <th>التاريخ </th>
                                    <th>وقت الحضور</th>
                                    <th>وقت الانصراف</th>
                                    <th></th>
                              
                                </tr>
                            </thead>
                            <tbody>
                             
                                 
                                    @foreach (var item in Model)
                                    {
                                           <tr>
                                         <td >@item.Employee.empName</td>
                                         <td name="deptName">@item.Employee.Department.deptName</td>
                                    <td name="attendanceTime">@item.attendanceTime</td>
                               
                                    <td name="departureTime">@item.departureTime</td>
                               
                                   
                                    <th><button type="button" class="btn btn-danger mr-1">
                                      <i class="icon-trash"></i> حذف
                                    </button></th>
                                         </tr>
                                    }
                                   
                                
                               
                                </tbody>
                                </table>
                                }
                                <div class="row">
                                    <input type="submit" class="btn btn-success">
                                </div>
                             </form>

                         </div>
                </div>
              
            </div>
        </div>
    </div>
</section>

</body>
</html>
<script type="text/javascript">

    const output = document.querySelector("#path");

    function processSelectedFiles(fileInput) {
 
 output.value = fileInput.value;
}

</script>