@model IEnumerable<Employee>

@{
    ViewData["Title"] = "index";
}

<h1 class="text-center">GeneralSetting</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
<table class="table">
     <thead>
        <tr> 

     <thead class="text-center">
        <tr>
            <th >requiredExtraHours</th>
            <th>requiredDeductHours</th>
            <th>holiday 1</th>
            <th>holiday 2 </th>   
            <th></th>
            <th></th>
        </tr>         
    </thead>
        
    <tbody class="text-center">
     
            @foreach (var item in Model)
            {
             <tr>
                 <td>
                    <span>@item.requiredExtraHours</span>
                </td>
                <td>
                   <span>@item.requiredDeductHours</span>
                </td>
                    @foreach (var item4 in item.TypesOfVacationsEmps)
                    {
                        if(item4.days.daysName == null || item4.days.daysName == "")
                        {
                            <td><span> </span></td>
                                    
                        }else{
                            <td><span>@item4.days.daysName</span></td>

                           }
                    }
                        
                    <td>
                        <a asp-action="EditGeneralSetting" asp-route-id="@item.id" class="btn btn-primary">Edit</a> 
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger"> Delete</a>
                    </td>
                </tr>
                        
            }

    </tbody>
</table>
</div>