@*@model HR_Sys.Models.annualHoliday
*@

@model List<HR_Sys.Models.annualHoliday>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center text-bold"> الأجازات الرسميه</h1>

<hr />
@*
<form  method="post">
    <table class="table">
        <div class="row">
             <div class="col-md-6">
                 <tr class="form-group">
                     <td><label asp-for="@Model.FirstOrDefault().idHoliday" class="control-label"></label></td>
                     <td>
                     <input type="input" asp-for="@Model.FirstOrDefault().NameAnnualHoliday" class="form-control" />
                     </td>
                  <td><input asp-for="NameAnnualHoliday.nameHoliday"  type="hidden" class="form-control" /></td>
                   <td> <span asp-validation-for="@Model.FirstOrDefault().idHoliday" class="text-danger"></span></td>
                     
                     <td><label asp-for="@Model.FirstOrDefault().dateHoliday" class="control-label"> </label></td>
                     <td><input type="date" asp-for="@Model.FirstOrDefault().dateHoliday" class="form-control" /></td>
                     <td><span asp-validation-for="@Model.FirstOrDefault().dateHoliday" class="text-danger"></span></td>
                 </tr>
             </div>
        </div> 
    </table>
    <br />
    <br />
    <div class="form-group text-center">
        <input type="submit"  class="btn btn-info" value="إضافة">
    </div> 
    <br />
    </form>*@
    <!------------------------------------------- start table of HRS-------------------------------------->   
    <section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title text-center">معلومات الموظفين</h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard" style="padding:1rem 20px">

    <button id="addRow" class="btn btn-primary mb-2"> 
         <i class="ft-plus"></i>&nbsp;
         <a asp-controller="AnnualHolidays" asp-action="create" target="">إضافةأجازه سنوية جديدة</a>
   </button>
    <table class="table text-center table-striped table-bordered zero-configuration">
        <thead>
            <tr>
                 <th>الاسم</th>
                 <th>التاريخ</th>
                 <th>العمليات </th>
            </tr>
        </thead>
        <tbody>
@*            (List<annualHoliday>) ViewBag.annulholiday
*@            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.nameHoliday</td>
                    <td>@item.dateHoliday</td>

                    <td>
                        <a asp-controller="AnnualHolidays" asp-action="Edit" onclick="" asp-route-id="@item.id"> <i class="icon-note font-medium-4 ml-2"></i></a>
                        <a asp-controller="AnnualHolidays" asp-action="Delete" onclick="return confirm('هل تريد مسح  الأجازه      ؟  ')"  asp-route-id="@item.id"><i class="fa fa-trash font-medium-4"></i></a> 
                    </td>
                </tr>
            }
            
        </tbody>            
    </table>
   </div>
                    </div>
            </div>
        </div>
    </div>
</section>
    <!------------------------------------------- end table of HRS-------------------------------------->  


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>  
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>  
}
