
@model  X.PagedList.IPagedList<HR_Sys.Models.HR>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;


@{
    ViewData["Title"] = "Index";
}

<style>
        .pagination {
            /display: inline-block;/
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
                border: 1px solid #ddd;
                font-size: 20px;
                font-weight: bold; 
            }

                .pagination .active {
                        color: #2a75ff;
                        float: left;
                        padding: 8px 16px;
                        text-decoration: none;
                        transition: background-color .3s;
                        border: 1px solid #ddd;
                        font-size: 20px;
                        font-weight: bold;  
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }

        .container {
            padding-bottom: 3% !important;
        }

        .btn {
            margin-bottom: -12px !important;
        }
    </style>


<div class="content-wrapper">
            <div class="container-fluid">
<!-- Zero configuration table -->
<section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title text-center">معلومات المستخدم</h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                                                 
                                       <div class="row"><div class="col-sm-12 col-md-3">
                                        <div class="dataTables_length" id="DataTables_Table_0_length">
                                             <label>عرض 
                                           <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                             </select>
                                            </label>
                                        </div>
                                    </div>
                                      <div class="col-lg-1"></div> 
                                      <form>
                                        <div class="col-sm-12 col-md-8">
                                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                <label>بحث:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0" name="searchString"></label>
                                            </div>
                                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                <input type="submit" class="btn btn-info"  name="searchString" value="search">
                                            </div>
                                        </div>
                                      </form>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3">
                                    <button id="addRow" class="btn btn-primary mb-2"> 
                                        <i class="ft-plus"></i>&nbsp;
                                        <a asp-controller="HR" asp-action="registerhr" target="_blank"> إضافة مستخدم جديد</a>
                                   </button>
                                </div>
                            </div> 
                            <!------------------------------------------- start table of HRS-------------------------------------->                    
                            <table class="table text-center table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>اسم المستخدم</th>
                                    <th>الحدث</th>
                                    <th>تعديل </th>
                                    <th>حذف</th>
                               
                                </tr>
                            </thead>
                            <tbody>
                            
                                @foreach(var item in Model)
                                {
                                    <tr class="user">
                                     <td>@item.hrUserName</td>
                                     <td>
                                        <button class="btn btn-gray mb-2"> 
                                        <a asp-controller="HR" asp-action="Index" target="_blank"  asp-route-id="@*@item.id*@">تفعيل</a>
                                        </button>
                                     </td>
                                    <td>
                                        <button class="btn btn-success mb-2"> 
                                        <a asp-controller="HR" asp-action="editHr"  asp-route-id="@item.hrId">تعديل</a>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger mb-2"> 
                                        <a asp-controller="HR" asp-action="deleteHR" asp-route-id="@item.hrId" onclick="return confirm('هل تريد حذف @item.hrUserName ؟ ')">حذف</a>
                                        </button>
                                    </td>   

                                  </tr>                
                                }
                                
                               
                                 
                            </tbody>               
                        </table>
                        <div class="pagination">
                              Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                       </div>
                       <div>
                     
                  <div class="pull-right">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
                   new
                        {
                            page
                 }))
            </div>
                        
                            <!------------------------------------------- end table of HRS-------------------------------------->                    

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

            </div>
          </div>

